[access]
	inheritFrom = All-Projects
[project]
	description = ARCHIVED- 2022-02-14 at the request of the project\nThis repository is for the compliance test framework.
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-vnfsdk-ves-agent-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
